.buttonBG {
  padding: 0 18px;
  display: flex;
  flex-basis:auto;
  flex-grow:1;
  align-items: center;
  justify-content: center;
  //width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  transition: 0.5s ease opacity;
  cursor: pointer;
  &__title{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &:hover{
    opacity: 0.5;

  }
}