.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 44px;
  border: 2px solid #BC9CFF;
  border-radius: 22px;
  transition: 0.5s ease opacity;
  cursor: pointer;
  &__title{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #BC9CFF;
  }
  &:hover{
    opacity: 0.5;
  }
}