.form
    form(action='/' method='get')
        .title
            p.title__text Найдём номера под ваши пожелания
        .period
            include ../../dateDropdown/dateDropdown
        .guests
        .selection
