.dateDropdown
    .dateDropdown__label
        h3 прибытие
        h3 выезд
    .dateDropdown__inputs
        input.dateDropdown__datepicker-global(type="text")
        input.dateDropdown__item.js-dateDropdown__item_start(type="text" placeholder="ДД.ММ.ГГГГ")
        input.dateDropdown__item.js-dateDropdown__item_finish(type="text" placeholder="ДД.ММ.ГГГГ")
    //.d