header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

nav{
  flex-basis:auto;
  flex-grow:1;
  display: flex;
  justify-content: flex-end;
  margin: 0 25px;
}
.nav{
  display:flex;
  &-item:not(:last-child){
    margin: 0 23px 0 0;
  }
  &-item{
    &.arrow:after{
      content: '';
      margin: 0 0 0 8px;
      cursor: pointer;
      display: inline-block;
      width: 12px;
      height: 8px;
      background-repeat: no-repeat;
      background-image: url("/src/components/header/img/expand_more.svg"); /*url("img/expand_more.svg");*/
      background-size: cover;
    }

  }
  &-link{
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
  }
    .active{
      font-weight: 700;
      color: rgba(31, 32, 65, 0.75);
    }
}
.controls{
  display: flex;
}
.controls-item:first-child{
  margin-right: 20px;
}