@import "global";
@import "null";
@import "src/components/header/header";
@import "src/formElements/buttons/buttonBG";
@import "src/formElements/buttons/button";
@import "src/formElements/buttons/buttonLink";

.wrapper{
  margin: 0 auto;
  max-width: 1920px;
}
.container{
  margin: 0 auto;
  max-width: 1286px;
  min-height: 120px;
}