@import "global";
@import "src/formElements/buttons/buttonBG";
@import "src/formElements/buttons/button";
@import "src/formElements/buttons/buttonLink";

*{
  margin: 0;
  padding: 0;
  border: 0;
}
*,*:before,*:after{
  box-sizing: border-box;
}
:focus,:active{
  outline: none;
}
html,body{
  height: 100%;
  width: 100%;
  font-size: 14px;
}
body {
  font-family: 'Montserrat', serif;
  font-weight: 700;
}
a, a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul li{
  list-style: none;
}
button{
  cursor: pointer;
}