@import "src/style/global";
.footer{
  min-height: 442px;
  &-content{
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 100%;
      height: 1px;
      width: 100%;
      background-color: $darkShade25;
    }
  }
  @media (max-width: 1024px){
    .footer-content{
      display: none;
    }
    .copyright{
      min-height: 442px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo_disable{
      display: block;
      margin-bottom: 20px;
    }
   .text_lh{
     margin-bottom: 20px;
   }
  }
}
.text{
  &__item{
    color: $generalColor;
    font-weight: normal;
  }
}
.logo_margin{
  margin-bottom: 24px;
}
.logo_disable{
  display: none;
}
.text-footer-content__column{
  width: 254px;
}
.text-width{
  width: 260px;
  margin-bottom: 24px;
}
.title{
  &__text{
    text-transform: uppercase;
    color:$darkShade100;
  }
}
.title_margin{
  margin-bottom: 24px;
}
.footer-menu__item:not(:last-child){
  margin-bottom: 24px;
}
.footer-menu__link{
  color: $darkShade50;
  font-weight: normal;
}
.copyright{
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
}
.icons__item:not(:last-child){
  margin-right: 23px;
}
.text_lh{
  line-height: 17px;
}